.admin-container {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}
.admin-container input {
  text-align: center;
  width: 30%;
  margin: 20px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid black;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination button {
  margin-right: 15px;
  padding: 0 10px;
}
.pagination span {
  color: black;
  margin-right: 10px;
  display: inline-block;
}
.pagination .selected {
  background-color: cadetblue;
  color: white;
}
input[type="checkbox"] {
  width: 10px;
  margin: 5px;
}

.filter input[type="number"] {
  width: 10%;
}
.filter input[type="submit"] {
  width: 5%;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}
